<%= form_with(model: practical_work, local: true) do |form| %>
  <% if practical_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(practical_work.errors.count, "error") %> prohibited this practical_work from being saved:</h2>

      <ul>
      <% practical_work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :practical_work_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :practical_work_description %>
  </div>

  <div class="field">
    <%= form.label :mark %>
    <%= form.number_field :mark %>
  </div>

  <div class="field">
    <%= form.label :document %>
    <%= form.file_field :document %>
  </div>

  <div class="field">
    <%= form.select :student_id, Student.all.collect { |p| [ p.last_name+' '+p.first_name+' '+p.second_name, p.id ] } %>
  </div>

  <div class="field">
    <%= form.select :teacher_id, Teacher.all.collect { |p| [ p.last_name+' '+p.first_name+' '+p.second_name, p.id ] } %>
  </div>

  <div class="field">
    <%= form.select :academic_plan_id, AcademicPlan.all.collect { |p| [ 'Semester: '+p.semester_id.to_s+', Subject: '+p.subject.name, p.id ] } %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <div class="field">
    <%= form.label :load_date %>
    <%= form.date_field :load_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
