<h1>Editing Practical Work</h1>

<%= render 'form' %>


<% if student_signed_in? %>
  <%= link_to 'Show', [@practical_work.student, @practical_work] %> |
  <%= link_to 'Back', student_practical_works_path(@practical_work.student) %>
<% elsif teacher_signed_in? %>
  <%= link_to 'Show', [@practical_work.teacher, @practical_work] %> |
  <%= link_to 'Back', teacher_practical_works_path(@practical_work.teacher) %>
<% end %>
