<p id="notice"><%= notice %></p>

<h1>Practical Works</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Mark</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @practical_works.each do |practical_work| %>
      <tr>
        <td><%= practical_work.name %></td>
        <td><%= practical_work.description %></td>
        <td><%= practical_work.mark %></td>
        <td><%= link_to "Read", pdfjs.minimal_path(file: practical_work.document_url) %></td>
        <td><%= link_to "Download", pdfjs.full_path(file: practical_work.document_url) %></td>
        <td><%= link_to 'Show', practical_work %></td>
        <td><%= link_to 'Edit', edit_practical_work_path(practical_work) %></td>
        <td><%= link_to 'Destroy', practical_work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Practical Work', new_practical_work_path %>
