<p id="notice"><%= notice %></p>

<h1>Brigade Memberships</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Brigade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brigade_memberships.each do |brigade_membership| %>
      <tr>
        <td><%= brigade_membership.student %></td>
        <td><%= brigade_membership.brigade %></td>
        <td><%= link_to 'Show', brigade_membership %></td>
        <td><%= link_to 'Edit', edit_brigade_membership_path(brigade_membership) %></td>
        <td><%= link_to 'Destroy', brigade_membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brigade Membership', new_brigade_membership_path %>
