<p id="notice"><%= notice %></p>

<h1>Laboratory Works</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Mark</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @laboratory_works.each do |laboratory_work| %>
      <tr>
        <td><%= laboratory_work.name %></td>
        <td><%= laboratory_work.description %></td>
        <td><%= laboratory_work.mark %></td>
        <td><%= link_to "Read", pdfjs.minimal_path(file: laboratory_work.document_url) %></td>
        <td><%= link_to "Download", pdfjs.full_path(file: laboratory_work.document_url) %></td>
        <td><%= link_to 'Show', laboratory_work %></td>
        <td><%= link_to 'Edit', edit_laboratory_work_path(laboratory_work) %></td>
        <td><%= link_to 'Destroy', laboratory_work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Laboratory Work', new_laboratory_work_path %>
