<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @laboratory_work.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @laboratory_work.description %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @laboratory_work.mark %>
</p>

<p>
  <strong>Student:</strong>
  <%= @laboratory_work.student.last_name+' '+@laboratory_work.student.first_name+' '+@laboratory_work.student.second_name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @laboratory_work.teacher.last_name+' '+@laboratory_work.teacher.first_name+' '+@laboratory_work.teacher.second_name %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @laboratory_work.academic_plan.semester_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @laboratory_work.academic_plan.subject.name %>
</p>

<p>
  <strong>End date:</strong>
  <%= @laboratory_work.end_date %>
</p>

<%= link_to 'Edit', edit_laboratory_work_path(@laboratory_work) %> |
<%= link_to 'Back', laboratory_works_path %>
