<%= form_with(model: classes_timetable, local: true) do |form| %>
  <% if classes_timetable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classes_timetable.errors.count, "error") %> prohibited this classes_timetable from being saved:</h2>

      <ul>
      <% classes_timetable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :semester_id %>
    <%= form.select :semester_id, Semester.all.collect { |p| [ p.id, p.id ] } %>
  </div>

  <div class="field">
    <%= form.label :subgroup_id %>
    <%= form.select :subgroup_id, Subgroup.all.collect { |p| [ p.name, p.id ] } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
