<p id="notice"><%= notice %></p>

<h1>Classes Timetables</h1>

<table>
  <thead>
    <tr>
      <th>Semester</th>
      <th>Subgroup</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classes_timetables.each do |classes_timetable| %>
      <tr>
        <td><%= classes_timetable.semester %></td>
        <td><%= classes_timetable.subgroup %></td>
        <td><%= link_to 'Show', classes_timetable %></td>
        <td><%= link_to 'Edit', edit_classes_timetable_path(classes_timetable) %></td>
        <td><%= link_to 'Destroy', classes_timetable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classes Timetable', new_classes_timetable_path %>
