<p id="notice"><%= notice %></p>

<p>
  <strong>Semester:</strong>
  <%= @classes_timetable.semester.id %>
</p>

<p>
  <strong>Subgroup:</strong>
  <%= @classes_timetable.subgroup.name %>
</p>

<%= link_to 'Edit', edit_classes_timetable_path(@classes_timetable) %> |
<%= link_to 'Back', classes_timetables_path %>
