<p id="notice"><%= notice %></p>

<p>
  <strong>Semester:</strong>
  <%= @classes_timetable.semester.id %>
</p>

<p>
  <strong>Subgroup:</strong>
  <%= @classes_timetable.subgroup.name %>
</p>

<% if student_signed_in? %>
  <%= link_to 'Back', student_classes_timetables_path(current_student) %>
<% elsif teacher_signed_in? %>
  <%= link_to 'Back', teacher_classes_timetables_path(current_teacher) %>
<% end %>
