<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Project admin:</strong>
  <%= @project.project_admin_id %>
</p>

<% if teacher_signed_in? %>
  <% if @project.project_admin_id == current_teacher.id %>
    <%= link_to 'Edit', edit_project_path(@project) %> |
  <% end %>
<% end %>

<%= link_to 'Back', projects_path %>
