<%= form_with(model: teachers_project_membership, local: true) do |form| %>
  <% if teachers_project_membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teachers_project_membership.errors.count, "error") %> prohibited this teachers_project_membership from being saved:</h2>

      <ul>
      <% teachers_project_membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.select :teacher_id, Teacher.all.collect { |p| [ p.last_name+' '+p.first_name+' '+p.second_name, p.id ] } %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.select :project_id, Project.all.collect { |p| [ p.name, p.id ] } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
