<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @lesson.lesson_type %>
</p>

<p>
  <strong>Lesson date:</strong>
  <%= @lesson.lesson_date %>
</p>

<p>
  <strong>Lesson time:</strong>
  <%= @lesson.lesson_time %>
</p>

<p>
  <strong>Semseter:</strong>
  <%= @lesson.classes_timetable.semester.id %>
</p>

<p>
  <strong>Subgroup:</strong>
  <%= @lesson.classes_timetable.subgroup.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @lesson.subject.name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @lesson.teacher.last_name+' '+@lesson.teacher.first_name+' '+@lesson.teacher.second_name %>
</p>


<p>
  <strong>Classroom:</strong>
  <%= @lesson.classroom.number %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
